package __BASE_PACKAGE__;

import org.springframework.boot.SpringApplication;
import org.springframework.modulith.Modulith;

@Modulith
public class __APPLICATION_CLASS__ {
    public static void main(String[] args) {
        SpringApplication.run(__APPLICATION_CLASS__.class, args);
    }
}
