dependencyResolutionManagement {
    repositoriesMode.set(RepositoriesMode.PREFER_SETTINGS)
    repositories {
        mavenCentral()
        gradlePluginPortal()
    }
}

rootProject.name = "__PROJECT_NAME__"

includeBuild("build-logic")
include(":app")
